
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron index-hero ">
    <h3 class="h1 index-hero-text text-center text-uppercase">Bring the theater home</h3>
</div>

<div class="container">
    <div class="row text-center">
        <div class="category col-xs-6 col-sm-3">
            <a href="/Store/Products_TV">
                <div class="center-block">
                    <img src="~/Content/img/LG_OLEDC7_348w.jpg" />
                    <h4>4K Ultra HD TV's</h4>
                </div>
            </a>
        </div>
        <div class="category col-xs-6 col-sm-3">
            <a href="/Store/Products_Audio">
                <div class="center-block">
                    <img src="~/Content/img/denon_AVRX6300_410w.jpg" />
                    <h4>Home Audio</h4>
                </div>
            </a>
        </div>
        <div class="category col-xs-6 col-sm-3">
            <a href="/Store/Products_Sonos">
                <div class="center-block">
                    <img src="~/Content/img/sonos_one_room_410w.jpg" />
                    <h4>Sonos</h4>
                </div>
            </a>
        </div>
        <div class="category col-xs-6 col-sm-3">
            <a href="/Store/Products_Furniture">
                <div class="center-block">
                    <img src="~/Content/img/andal_BY6131_410w.jpg" />
                    <h4>Furniture</h4>
                </div>
            </a>
        </div>
    </div>
    <div class="home-quote">
        <blockquote class="blockquote-reverse">
            <p>Exceptional customer service and I got a <em>GREAT</em> deal on a new Sony 4K TV!</p>
            <footer>J. Tucholski in <cite title="Cleveland, OH">Cleveland, OH</cite></footer>
        </blockquote>

    </div>
</div>