@using Project.Web.Models
@model List<Products_TVModel>
@{
    ViewBag.Title = "Audio";
}
<div class="container">
    <div class="row">
        <div class="text-center col-xs-12">
            <h3 class="text-capitalize">Home Audio @@ Polymorphism Products</h3>
            <hr />
        </div>
    </div>
    <div class="row">
        @foreach (var AudioComps in Model)
        {
            <div class="products text-center col-xs-12 col-sm-6 col-md-3">
                <div class="thumbnail">
                    <a href="#">
                        <img src="@Url.Content("~/Content/img/" + AudioComps.ProductImage)" />
                        <div>
                            <h4>@AudioComps.Manufacturer</h4>
                            <h4>@AudioComps.Model</h4>
                            <h5>@AudioComps.ShortDesc</h5>
                            <h3 class="text-danger">$@AudioComps.Price</h3>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>

