body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.index-hero {
    background-image: url('img/sony_hd_projector_living_room_family_2_1200x500.jpg');
    min-height: 550px;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    color: white;
}

.index-hero h3 {
    color: white;
    padding-top: 25%;
}

.white {
    color: white;
}

.category {
    margin: 10px 0px;
}


.category a{
    text-decoration: none;
    color: slategray;
}
.category a:hover {
    color: black;
}
.category img {
    width: 75%;
    height: auto;
    margin-bottom: 10px;
}
.home-quote {
    margin: 30px;
}
.detail-image img {
    margin: 20px;
}
.product-long-desc {
    margin-top: 35px;
}

/*.products {
    border: 1px solid slategray;
    border-radius: 5%;
    margin: 10px;

}
.products img{
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100px;
}

}*/

.products img {
    width: 90%;
    padding: 10px 0px;
}

.products caption {
    margin: 0px;
    padding: 0px;
}
.products a {
    text-decoration: none;
}

/*Home Page Products Displayed Using Flexbox*/
.audio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 40px;
}

.flex-card {
    flex: 0 0 calc(25% - 20px);
    display: flex;

    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    position: relative;
    top: 0;
    transition: all .1s ease-in;
}
    .flex-card:hover {
        top: -2px;
        box-shadow: 2px 4px 5px rgba(0,0,0,0.2);
    }

.flex-card ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align:center;
}

.flex-card li {
    flex: 1;

    display: flex;
    justify-content: space-between;
    align-content: flex-start;
}
    .flex-card li > * {
        margin: 10px;
        padding: 0px;
        flex: 1 1 100%;

        display: flex;
        justify-content: center;
    }
